*, body {
  font-family: DM Sans, Roboto, sans-serif;
  color: indigo;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  margin: 0;
}

h1 a {
  text-decoration: none;
}

.progress {
  width: 800px;
  height: 5px;
  background: #d4e0e8;
  margin: 30px 10px 30px 10px;
  border: 1px solid #888;
}

.form-control {
  display: block;
  width: 300px;
}
input[type=text], input[type=password] {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

article {
  max-width: 1300px;
}
a.link-primary {
  cursor: pointer;
}
#sideLogo {
  width: 8%;
  position: absolute;
  bottom: 10px

}

.card {
  width: 825px;
  padding: 10px;
}

#build{
  position: absolute;
  right: 10px;
  bottom: 10px;
}

img#jobquestai {
  /* opacity: 0.5; */
  margin: 0 220px;
  display: block;
}
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

nav.main {
  background: #d4e0e8;
  flex: 1;
}


nav.main ul {
  list-style-type: none;
  padding-left: 10px;
}

nav.main ul li {
  padding: 5px 0px;
}

.top-nav {
  padding: 14px 0px;
}

.col-main {
  display: flex;
  flex-direction: column;
  flex: 10;
}

.content {
  display: flex;
  flex-direction: row;
}

.content>article {
  flex: 3;
  min-height: 60vh;
}

.content>aside {
  background: rgb(220, 238, 245);
  background-image: linear-gradient(315deg, #39445a 0%, #39445a 74%);
  flex: 1;
}

.content>aside a {
  color: rgb(220, 238, 245)
}

header {
  background: #39445a;
}

header a {
  color: rgb(147, 203, 225)
}

header, footer, article, nav, aside {
  padding: 1em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}